.off-canvas-wrap, .inner-wrap{
  height: 100%;
}

#selector{
  position: fixed;
  top: 10px;
  // display: flex;
  width: 100%;

  @media (max-width: 640px){
    position: relative;
  }

  .button{
    @extend .tiny;
  }
}

i.fi-widget{
  margin: 0 auto;
  display: block;
  width: 19px;
  font-size: 22px;
}

svg{
  display: block;
  width: 95%;
  height: 500px;
  margin: 15px auto;

  @media (min-width: 750px){
    width: 750px;
  }
}

g.text{
  display: inline !important;
  font-size: 11px;
}

// 750< svg anzeigen
main{
  overflow-y: scroll;
}

// label{
//   position: fixed;
//   top: 50px;
// }
//
.button{
  margin: 0;
}

div.tip {
  position: absolute;
  text-align: center;
  padding: 5px 10px;
  background: black;
  font-size: 12px;
  line-height: 1.4;
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;

  h5{
    color: white;
  }

  p{
    margin-bottom: 0;
  }
}
