.off-canvas-wrap, .inner-wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#selector{
  position: fixed;
  top: 10px;
  // display: flex;
  width: 100%;

  @media (max-width: 640px){
    position: relative;
  }

  .button{
    @extend .tiny;
    &.active{
      background-color: #007095;
    }
  }
}

.button.active{
  background-color: #007095;
}

i.fi-widget{
  margin: 0 auto;
  display: block;
  width: 19px;
  font-size: 22px;
}

svg{
  display: block;
  width: 95%;
  flex: 2;
  margin: 0 auto;

  @media (min-width: 750px){
    width: 750px;
  }
}

g.text{
  display: inline !important;
  font-size: 11px;
}

// 750< svg anzeigen
main{
  overflow-y: scroll;
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

// label{
//   position: fixed;
//   top: 50px;
// }
//


.button{
  margin: 0;
}

div.tip {
  position: absolute;
  text-align: center;
  padding: 5px 10px;
  background: black;
  font-size: 12px;
  line-height: 1.4;
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;

  h5{
    color: white;
  }

  p{
    margin-bottom: 0;
  }
}

.profile{
  @extend .columns;
  @extend .medium-6;

  margin-top: 20px;

  img{
    height: 125px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }

  h2, p{
    text-align: center;
  }
}

.social-bar{
  list-style-type: none;
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  li{
    font-size: 30px;
  }
}

.info{
  display: flex;
  align-content: center;
    #scale{
    list-style: none;
    margin: 15px 0 0 15px;
    min-width: 120px;
    li .box{
      width: 20px;
      height: 20px;
      float: left;
      margin-right: 5px;
    }
    p{
      margin: 0;
    }
  }
  p{
    margin: 15px 15px 0 auto;
  }
}
