doctype
html
    head
        meta(charset= "UTF-8")
        title Document
        meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")
        script(src="js/vendor/modernizr.js")
    body

        .off-canvas-wrap(data-offcanvas='')
            .inner-wrap
                nav.tab-bar
                  section.left-small
                    a.left-off-canvas-toggle.menu-icon(href='#')
                      span
                  section.middle.tab-bar-section
                    h1.title Open Data App
                aside.left-off-canvas-menu
                  ul.off-canvas-list
                    li
                      label Open Data
                    li
                      a(href='/') App
                    li
                      a(href='idea.html') Idee
                    li
                      a(href='about.html') Über uns

                main

                    .row
                        .profile
                            a(href='')
                                img(src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/11141314_10153032446643409_3129149773526379557_o.jpg", alt="")
                            h2 Fabian Reding
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, odio.

                        .profile
                            a(href='https://www.facebook.com/photo.php?fbid=10204179209617597&set=a.1418508179859.2057959.1147278854&type=1&theater')
                                img(src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11295731_10204179209617597_6643513149178701891_n.jpg?oh=08d851d6903385fb165e0189fb269129&oe=55F58FC8", alt="")
                            h2 Dominique Rahm
                            p
                                | Ich bin Web- und Appentwickler bei
                                a(href='//www.oxon.ch')  OXON AG
                                |  und in meinem letzten Semester an der Universität Bern.
                                br
                                | Ausserdem unterrichte ich Webentwicklung (HTML/CSS/JS etc.) an der
                                a(href='//www.digicomp.ch')  Digicomp
                                |  in Zürich. Ich lerne sehr gerne Neues und gebe mein meist selbst erlerntes Wissen mit grosser Freude weiter!
                            ul.social-bar
                                li
                                    a.fi-social-facebook(href='https://www.facebook.com/d3orn', alt="Facebook")
                                li
                                    a.fi-social-twitter(href="www.twitter.com/d3orn", alt='Folge mir auf Twitter')
                                li
                                    a.fi-social-github(href="www.github.com/d3orn", alt='Meine Open Source Projekte auf Github')


                a.exit-off-canvas



        script(src="js/jquery.min.js")
        script(src="js/foundation.min.js")
        script(src="js/foundation.offcanvas.js")
        //- script(src="js/app.js")
        script $(document).foundation();
