doctype
html
  head
    meta(charset= "UTF-8")
    title Document
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/vendor/modernizr.js")
  body
    main(style="position:fixed; top:0;bottom:0;left:0;right:0")
        div#info(style="position: fixed; left: 10px; top: 10px;")
            ul
        ul#selector.stack-for-small.button-group
            li
                a.button.active(href='#', onclick='show(this)', data-region='mittelland') Mittelland
            li
                a.button(href='#', onclick='show(this)', data-region='ostschweiz') Ostschweiz
            li
                a.button(href='#', onclick='show(this)', data-region='westschweiz') Westschweiz
            li
                a.button(href='#', onclick='show(this)', data-region='zentralschweiz') Zentralschweiz

        //- radio für frau/mann

        svg
            g#zentralschweiz(transform="translate(-415, -120)")
            g#mittelland(transform="translate(-265,-45)")
            g#ostschweiz(transform="translate(-497,-2)")
            g#westschweiz(transform="translate(-120,-72)")


    script(src="js/d3.min.js")
    script(src="js/topojson.js")
    script(src="js/app.js")
